<header class="page-header">
    <a href="{{ path('cms_page_index') }}">
        <img class="logo logo_size_lg page-header__logo" src="/img/logo.png" alt="Логотип НПСПАБ">
    </a>
    <nav class="nav page-header__nav">
        <a class="nav__link nav__link_size_md nav__link_theme-light nav__link_theme-light_active" href="#">Новини</a>
        <a class="nav__link nav__link_size_md nav__link_theme-light" href="{{ path('cms_page_laws') }}">Законодавча БАЗА</a>
        <a class="nav__link nav__link_size_md nav__link_theme-light" href="javascript:void(0)">Медичне страхування</a>
        <a class="nav__link nav__link_size_md nav__link_theme-light" href="javascript:void(0)">Відпочинок</a>
        <a class="nav__link nav__link_size_md nav__link_theme-light" href="javascript:void(0)">Контакти</a>
    </nav>
    <span class="page-hero__nav-toggle"></span>
</header>
