<div id="sidebar">
    <ul>
        <li>
            <a href="{{ path('cms_page_index') }}">
                <img class="logo logo_size_lg page-header__logo" src="/img/logo.png" alt="Логотип НПСПАБ">
            </a>
        </li>
        <li>
            <a href="{{ path('news_main') }}">Новини</a>
        </li>
        {% for category in categories %}
            <li>
                <a  href="{{ path('category_main', {'slug': category.slug}) }}">{{ category.title }}</a>
            </li>
        {% endfor %}
        <li>
            <a>Контакти</a>
        </li>
    </ul>
</div>
