<div id="sidebar">
    <ul>
        <li>
            <a href="{{ path('cms_page_index') }}">
                <img class="logo logo_size_lg page-header__logo" src="/img/logo.png" alt="Логотип НПСПАБ">
            </a>
        </li>
        <li>
            <a>Новини</a>
        </li>
        <li>
            <a href="{{ path('cms_page_laws') }}">Законодавча БАЗА</a>
        </li>
        <li>
            <a href="{{ path('cms_page_medical') }}">Медичне страхування</a>
        </li>
        <li>
            <a>Відпочинок</a>
        </li>
        <li>
            <a>Контакти</a>
        </li>
    </ul>
</div>
