{% extends 'public.html.twig' %}

{% block title %}Головна{% endblock %}

{% block stylesheets %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css?v=1.2">
    <link rel="stylesheet" href="/css/error.css?v=1.0">
    <link rel="stylesheet" href="/css/media-queries/main_responsive.css?v=1.0">
    <link rel="stylesheet" href="/css/media-queries/error_responsive.css?v=1.0">
{% endblock %}
{% block body %}
    {% set categories = all_categories() %}
    {% include 'elements/mobile_header.html.twig' %}
    <div class="main_wrapper wrapper  page-wrapper">
        <section class="page-hero page-hero_news">
            <div class="page-hero__container">
                {% include 'elements/header.html.twig' %}
            </div>
        </section>
        <section class="error-wrapper">
            <div>
                Щось пішло не так
            </div>
            <div>
                <a href="{{ path('cms_page_index') }}" class="button">На головну</a>
            </div>
        </section>

        {% include 'elements/footer.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

