{% extends 'admin/admin_base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Редагування Налаштування "{{ form.vars.value.title }}"</h2>
            <div class="card card-plain">
                {{ form_start(form) }}
                <div class="form-group">
                    Значення
                    {{ form_widget(form.value,{
                        'attr': {
                            'class': 'form-control',
                            'placeholder':'Опис',
                            'rows': 10
                        },

                    }) }}
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Ok
                    </button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    </div>
{% endblock %}

